h1 {
    color: red;
}

#hci {
    font-size: 1.2em;
}

.intrest {
    font-size: 1.1em;
}

#i1 {
    color: fuchsia;
}

#i2 {
    color: wheat;
}

#i3 {
    color: rebeccapurple;
}

#i4 {
    color: orange;
}